html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    /* Centrado horizontal */
    align-items: flex-start;
    /* Empieza desde arriba */
    min-height: 100vh;
    padding-top: 60px;
    /* espacio desde arriba */
}