<div class="home-panel">
    <h2 class="animated-title">Selecciona el algoritmo</h2>

    <div class="button-group">
        <!-- Dijkstra -->
        <div class="algo-button">
            <img src="d.jpg" alt="Dijkstra" class="algo-img" />
            <button class="btn btn-primary" [routerLink]="['/dijkstra']">
                DIJKSTRA
            </button>
        </div>

        <!-- Floyd -->
        <div class="algo-button">
            <img src="f.jpg" alt="Floyd" class="algo-img" />
            <button class="btn btn-secondary" [routerLink]="['/floyd']">
                FLOYD
            </button>
        </div>
    </div>
</div>