body {
    background: #fafafa;
    font-family: Inter, Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1100px;
}

canvas {
    border: 1px solid #333;
    background: #f8f8f8;
    cursor: crosshair;
    display: block;
    margin: 0 auto;
}